/* START: Stylisation de cover */
.cover{
    display: flex;
    align-items: center;
}

.img-principal{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 640px){
    .img-principal{
        width: 550px;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 640px){
    .cover{
        flex-direction: column;
    }
}

.text-principal{
    margin-right: 80px;
}

@media (max-width: 640px){
    .text-principal{
    margin-right: 0;
    }
}

.text-principal h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 65px;
    font-family: Barlow condensed, sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
}

@media (max-width: 640px){
    .text-principal h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
}

.text-principal p{
    color: #484442;
    font-size: 20px;
    line-height: 1.6;
}

@media (max-width: 640px){
    .text-principal p{
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}

.text-principal .expand{
    display: flex;
    color: white;
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    margin-top: 37px;
}

@media (max-width:640px){
    .text-principal .expand{
        display: none;
    }
}
/* END: Stylisation de cover */

/* START: Stylisation des programs */

.programs{
    background-color: black;
    margin-top: 100px;
    padding-top: 95px;
    padding-bottom: 75px;
}

.programs .flux{
    display: flex;
    gap: 50px;
}

.programs .text-programs{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px;
    font-family: Barlow condensed, sans-serif;
}

.programs .title-2{
    width: 75%;
}

.programs p{
    line-height: 1.5;
    font-size: 20px;
    color: white;
    flex-grow: 1;
}

.button{
    color: white;
    text-transform: uppercase;
    padding: 14px 24px;
    border-radius: 30px;
    font-weight: bold;
}

.button-orange{
    background: linear-gradient(90deg, rgb(255, 65, 65), rgb(61, 61, 255) 50% 100%);
    background-position: right;
    background-size: 200% 100%;
    transition: all 0.5s;
}
.button-orange:hover{
    background-position: left;
}

.button-black{
    background-color: black;
    transition: background-color 0.25s;
}
.button-black:hover{
    background-color: grey;
}


.programs .text-programs .button{
    margin-top: 50px;
}

.programs .container-images{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 25px;
}

.programs .container-images li{
    background-color: white;
    border-radius: 10px;
    width: calc(50% - 25px / 2);
    height: 130px;
    padding: 30px;
    box-sizing: border-box;
}

.programs .container-images li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* END: Stylisation des programs */

/* START: Stylisation de Launch */

.launch{
    background: linear-gradient(180deg, black 0% 50%, white 50% 100%);
}

.launch .launch-content{
    display: flex;
    padding: 100px 50px 50px ;
    background: linear-gradient(90deg, red, blue);
    margin-bottom: 100px;
    border-radius: 10px ;
}

.launch img{
    width: 50%;
    height: 350px;
    padding-right: 50px;
    border-radius: 10px;
}

.launch .container-text{
    width: 50%;
    color: white;
    flex-shrink: 1;
}

.launch p{
    line-height: 1.5;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.launch .container-text .button{
    margin-top: 40px;
    display: inline-block;
    color: white;
}

.container-text .title-2{
    margin-top: 0;
    margin-bottom: 0;
}

/* END: Stylisation de Launch */

