body{
    background-color: white;
    margin: 0;
    font-family: "Cabin", sans-serif;
    padding: 0;
}

.flux{
    margin-left: 120px;
    margin-right: 120px;
}

@media (max-width: 640px){
    .flux{
        margin-left: 25px;
        margin-right: 25px; 
    }
}

a{
    text-decoration: none;
    color: inherit;
}


ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}